/*.avata img{
	margin:auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
}*/
.alert.alert-danger {
    margin-top: 5px;
}

.col-md-6.col-md-offset-3 {
    margin-top: 20px;
}
/*.select2-results__option[aria-selected=true] {
    display: none;
}*/
